body {

    background: #f4f9ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.container {

    max-width: 700px;
    margin: auto;
    padding: 20px;

}

h1 {

    color: #1677ff;
    font-size: 36px;
    margin-bottom: 20px;

}

h2,
h3 {

    margin-top: 10px;

}

a {

    text-decoration: none;
    color: #1677ff;

}

.card {

    display: block;
    background: white;
    padding: 18px;
    margin: 12px 0;
    border-radius: 18px;
    color: black;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .08);

    transition: .2s;

}

.card:hover {

    transform: translateY(-2px);

}

form {

    background: white;
    padding: 18px;
    border-radius: 18px;
    margin-bottom: 20px;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .05);

}

input,
select,
button {

    width: 100%;
    box-sizing: border-box;

    padding: 12px;

    margin-top: 8px;
    margin-bottom: 10px;

    border-radius: 12px;
    border: 1px solid #ddd;

    font-size: 16px;

}

button {

    background: #1677ff;
    color: white;
    border: none;
    cursor: pointer;

}

button:hover {

    opacity: .9;

}

.transaction {

    background: white;

    padding: 14px;

    margin: 10px 0;

    border-radius: 14px;

    box-shadow:
        0 2px 8px rgba(0, 0, 0, .05);

}

hr {

    border: none;
    height: 1px;
    background: #e5e5e5;
    margin: 20px 0;

}

p {

    line-height: 1.5;

}