{% extends 'base.html' %}

{% block content %}
<a href="/">← Back to Accounts</a>

<h1>{{account.name}}</h1>

<h2>
Total:
{{account.currency}}
{{"%.2f"|format(total)}}
</h2>

<form
action="/add-category/{{account.id}}"
method="post">

<input
name="name"
placeholder="Category">

<input
type="number"
step="0.01"
name="balance"
placeholder="Starting Amount">

<button>Add</button>

</form>

{% for category in categories %}

<a
class="card"
href="/category/{{category.id}}">

<h3>{{category.name}}</h3>

<p>
{{account.currency}}
{{"%.2f"|format(category.balance)}}
</p>

</a>

{% endfor %}

{% endblock %}