{% extends 'base.html' %}

{% block content %}

<h1>Budget Binder</h1>

<form action="/create-account" method="post">

    <input
        name="name"
        placeholder="Account Name"
        required>

    <select name="currency" required>
        <option value="$">USD</option>
        <option value="€">EUR</option>
    </select>

    <button type="submit">Create</button>

</form>

<hr>

{% for account in accounts %}

<a class="card" href="/account/{{ account.id }}">

    <h2>{{ account.name }}</h2>

    <p>
    {{ account.currency }}
    {% for category in categories %}

<a class="card" href="/category/{{category.id}}">

    <h3>{{category.name}}</h3>

    <p>
        {% set cat_total = namespace(value=0) %}

        {% for t in transactions %}
            {% if t.category_id == category.id %}
                {% set cat_total.value = cat_total.value + t.amount %}
            {% endif %}
        {% endfor %}

        {{ account.currency }} {{ "%.2f"|format(cat_total.value) }}
    </p>

</a>

{% endfor %}
</p>

</a>

{% else %}

<p>No accounts yet. Create your first one above.</p>

{% endfor %}

{% endblock %}